body{
  background-color: rgb(66, 66, 141);
}
.card{
  width: 14rem;
  text-align: center;
  height: 100%;
  background-color: floralwhite;
}
.card-title {
  font-size: x-large;
  font-weight: bold;
}
.form-control {
  width: 300px;
  height: fit-content;
}
.searchbox{
  justify-content:space-between;
  display: flex;
  margin-top: 20px;
}
.carticon{
  color: white;
  cursor: pointer;
}
.parents{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    font-family: 'Times New Roman', Times, serif;

}
.card-img-top{
  width: 35%;
  object-fit: contain;
  margin: auto;
}
.cartConatiner{
  width: 100%;
  padding: 20px;
  height: fit-content;
  background-color:floralwhite;
  border-radius: 20px;
}
.cartbuy{
  width: 100%;
  padding: 20px;
  height: fit-content;
  background-color:floralwhite;
  border-radius: 20px;
  display: flex;
  justify-content: flex-end;
}
.cartImage{
  width: 100px;
  object-fit: contain;
}
.CartDetails{
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.splitCart{
  width: 100%;
  height: 50%;
  margin: 10px;
  font-variant-caps: petite-caps;
}
.btn{
    width: 50px;
    height: 50px;
}
.carthead{
  color: floralwhite;
  font: bold;
}
.emptyCart{
  display: flex;
  justify-content: center;
  margin: 50px;
  color: white;
  gap: 10px;

}


@media only screen and (max-width: 375px) {
  /* For mobile phones: */
  .carticon{
    position: relative;
    font-size: small;
  }
  .searchbox .btn{
    position: absolute;
    margin-bottom: 10px;
  }
  .searchbox input{
    width: min-content;
  }
  .parents{
    margin-left: 50px;
    padding: auto;
    display: flex;
    align-items: center;
  }
   .cartConatiner{
    width: min-content;
    height: 100%;
    font-size: x-small;
    margin: auto;
    padding: auto;
       
   }
   .cartImage{
       width: 10%;
       height: min-content;
   }
   .card-title {
      font-size: small;
   }
}

@media only screen and (max-width: 425px) {
  /* For mobile phones: */
  .carticon{
    position: relative;
    font-size: small;
  }
  .searchbox .btn{
    position: absolute;
    margin-bottom: 10px;
  }
  .searchbox input{
    width: min-content;
  }
  .parents{
    margin-left: 50px;
    padding: auto;
    display: flex;
    align-items: center;
  }
   .cartConatiner{
    width: min-content;
    height: 100%;
    font-size: x-small;
    margin: auto;
    padding: auto;
       
   }
   .cartImage{
       width: 10%;
       height: min-content;
   }
   .card-title {
      font-size: small;
   }
}


